{% extends 'base.html' %}

{% block title %}
    <title>Articles</title>
{% endblock %}

{% block content %}
    {% include "partial/simple_search.html" with form=search_form %}
    <div class="row mt-3">
        {% for article in articles %}
            <div class="col-12 col-md-4 col-lg-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.author }}</h6>
                        <p class="card-text">{{ article.content }}</p>
                        <a href="{% url 'article-detail' article.pk %}" class="card-link btn btn-primary">Detail</a>
                        <a href="{% url 'article-update' article.pk %}" class="card-link btn btn-primary">Update</a>
                        <a href="{% url 'article-delete' article.pk %}" class="card-link btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No articles</p>
        {% endfor %}
    </div>

    {% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}

{% endblock %}